/* #fh5co-main {
  background-image: url(../images/star.svg);
  -webkit-background-size: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 50vw 40vw
} */

.fh5co-feature .fh5co-icon {
  background: none;
}
.fh5co-feature .fh5co-icon img {
  width: 50px;
}
h3 {
  color: red;
}
