.blog-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.blog-img .profile-img {
    transition: position 0.5s ease-in-out;
}

.blog-img:hover .profile-img {
    position: absolute;
}

.blog-img .profile-img:first-of-type {
    top: 0;
}

.blog-img .profile-img:last-of-type {
    top: 220px;
    transition: all 0.5s ease-in-out;
}

.blog-img:hover .profile-img:first-of-type {
    top: -220px;
}

.blog-img:hover .profile-img:last-of-type {
    top: 0;
}