.blog-entry .blog-img .profile-img,
.blog-entry:hover .blog-img .profile-img {
    transform: unset;
    transition: all  0.5s ease-in-out;
    width: 100%;
    max-height: auto;
}

.blog-entry {
  height: 700px;
}

.blog-img .profile-img:first-of-type {
    position: relative;
}

.blog-img .profile-img:last-of-type {
    transform: scaleY(0);
    position: absolute;
    top: 0;
    left: 0;
}

.blog-img:hover .profile-img:first-of-type {
    transform: scaleY(0);
}

.blog-img:hover .profile-img:last-of-type {
    max-height: auto;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
